archnvim
cef_user_data
chromium
clipit
coc
configstore
crosstool-NG
dconf
deepin
dunst
epdfview
epiphany
evolution
gnome-session
goa-1.0
gtk-2.0
gtk-3.0
hexchat
jesseduffield
Kingsoft
Kvantum
libfm
libreoffice
manjaro
manjaro-hello.json
mimeapps.list
morc_menu
Mousepad
nautilus
neofetch
netease-cloud-music
nitrogen
nvim
nvim_dein
nvim_old
omf
pamac
pcmanfm
pulse
qt5ct
QtProject.conf
shadowsocks-qt5
SogouPY
SogouPY.users
TabNine
tabnine-vim
teamviewer
tencent-qq
ThinkVim
Trolltech.conf
user-dirs.dirs
user-dirs.locale
variety
viewnior
VirtualBox
vlc
volumeicon
xarchiver
xfce4
yay
